body, div, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-family: fantasy;
}

body{
  background-color: green;
  font-family: fantasy;
  background-image: url("https://i.ibb.co/6BsF3b1/Logo-with-Psychology-symbol-Blog-copy2.jpg");
  margin-top: 20px;
  color: black;
}

body, html {
  height: 100%;
}

/* Hero image */
.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/vQM2k7C/Hero-image.jpg");
height: 80%;
background-position: center;
background-repeat: repeat;
background-size: 820px;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 55%;
left: 40%;
transform: translate(-50%, -50%);
text-shadow: 2px 1px white;
}

/* Header with logo and navigation */
.nav {
  background: #000;
  height: 155px;
  text-align:center;
  font-size: 90px;
  border: 7px solid #6bec20fd;
  padding: 5px;
  mix-blend-mode: darken;
}

.logo {
  float:left;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}

.nav li:hover {
  display:inline-block;
  list-style: none;
  height:30px;
  line-height: 20px;
  padding:0 40px;
  transition: background .3s;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

nav li a:link {
  color: white;
}

.nav li a:visited {
  color: #6bec20fd;
}

.nav li a:hover {
  color: white;
}

.nav li a:active {
  color: rgb(25, 21, 243);
}

/* Blog */
.container {
  display: block;
     width: 80%;
    height: 830px;
  margin-left: auto;
  margin-right: auto;
}

.container img {
  display: block;
margin-left: auto;
margin-right: auto;
height: 400px;
width: 1000px;
border: 2px solid white;
}

.box {
  position: relative;
  display: inline-block;
  margin-left: 160px;
  margin-right: 160px;
}

.box .text {
  position: absolute;
  z-index: 999;
  margin: 1px;
  left: 1px;
  right: 0;
  top: 1%;
  text-align: left;
  width: 40%;
}

.head {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head h2{
 font-size: 90px;
 text-align: center;
}

a {
  font-size: 60px;
}

li {
  cursor: pointer;
}

.nav:hover {
color: white;
}

* {
 box-sizing: border-box;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 350px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



.column h2 {
text-align: center;
font-size: 30px;
height: 30px;
}

.column p {
font-size: 20px;
}

/* Headers for the Body */
h1 {
text-align: left;
font-size: 80px;
margin: 8px;
font-family: fantasy;
}

h2 {
text-align: center;
font-size: 35px;
font-family: fantasy;
color: black;
}

h3 {
text-align: center;
margin-top: 7px;
margin-bottom: 0px;
font-size: 30px;
font-family: fantasy;
}

/* Media */
iframe {
  text-align: center;
  margin: 60px;
}

.media {
 border: 3px solid black;
 margin: 140px;
 width: 80px;
 height: 96;
 margin-top: 150px;
 margin-left: 690px;
}

.ytvideo {
  float: left;
  margin-bottom: 15px;
  width: 690px;
  height: 550px;

  text-shadow: 4px 2px white;

}

.song {
  text-align: center;
  float: right;
  width: 690px;
  height: 550px;
  text-shadow: 4px 2px white;
}




/* Footer */
footer {
  display: outside;
  text-align: center;
  padding: 1px;
  text-shadow: 2px 1px white;
  margin: 100px;
  font-family: fantasy;
  font-size: 150%;
  border: 5px solid black;
  float: center;
  margin-top: 800px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: cover;
}





